<!DOCTYPE HTML>
<html>
  <head>
    <title>Calculator App | FreeCodeCamp</title>
    <script src="../../../../Calculator/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../../../Calculator/public/javascripts/calculator.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/calculator.css">
    <link rel="stylesheet" type="text/css" href="../../../../Calculator/public/bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <h1 class="text-center">FreeCodeCamp Calculator</h1>
    <table class="center-table" id="calc-table">
      <tr>
        <td id="display" colspan="4">0</td>
      </tr>
      <tr>
        <td class="button delete">AC</td>
        <td class="button delete">CE</td>
        <td class="button" id="percent">%</td>
        <td class="oper" id="divide">&divide</td>
      </tr>
      <tr>
        <td class="button num">7</td>
        <td class="button num">8</td>
        <td class="button num">9</td>
        <td class="oper" id="mul">X</td>
      </tr>
      <tr>
        <td class="button num">4</td>
        <td class="button num">5</td>
        <td class="button num">6</td>
        <td class="oper" id="sub">-</td>
      </tr>
      <tr>
        <td class="button num">1</td>
        <td class="button num">2</td>
        <td class="button num">3</td>
        <td class="oper" id="add" rowspan="2">+</td>
      </tr>
      <tr>
        <td class="num">0</td>
        <td class="num">.</td>
        <td id="equals">=</td>
      </tr>
    </table>
  </body>
</html>
