<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro Clock | FreeCodeCamp</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/pomodoro.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="javascripts/Pomodoro/pomodoro.js"></script>
  </head>
  <body>
    <h1 class="text-center title">Pomodoro Timer</h1>
    <div class="control center-block text-center">
      <span id="add"><a href="#">+</a></span>
      <span id="increment"></span>
      <span id="subtract"><a href="#">-</a></span>
    </div>
    <div id="reset" class="control center-block text-center"><a href="#">Reset</a></div>
    <a href="#">
      <div id="counter" class="center-block text-center">
        <p>Session</p>
        <div id="time"></div>
      </div>
    </a>
  </body>
</html>
