<!DOCTYPE HTML>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src ="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/Portfolio/pageEffects.js"></script>
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="javascripts/Portfolio/leafletMap.js"></script>
    <link rel="stylesheet" href="/stylesheets/portfolio.css">
  </head>
  <body>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <nav class="navbar navbar-default" id="main-navbar" role="navigation">
          <div class="col-md-12 col-xs-12">
            <div class="navbar-header">
              <a class="navbar-brand text-center" href="#">Justin Lynn Reid</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#">Summary</a>
              </li>
              <li>
                <a href="#">Projects</a>
              </li>
              <li>
                <a href="#contact-info">Contact Info</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="summary">
      <h1 class="text-center">Justin Lynn Reid</h1>
      <hr width="400px" size="1px" class="center-block"/>
      <h2 class="text-center">Atmospheric Scientist, GIS Practitioner and Software Developer</h2>
      <p class="text-center">
        Hello my name is Justin Lynn Reid and I"m software developer and meteorologist from North Carolina. Click
        on the links below to access all of my professional content and social media pages. I am currently available
        for hire.
      </p>
    </div>
    <div class="row" id="port-section">
      <div class="col-md-4 example">
        <h2 class="text-center">Web Apps</h2>
        <img class="img-responsive" src="https://farm6.staticflickr.com/5784/20737693854_2f98e3f648_o.jpg">
        <p>
          Here are some samples of Static, Dynamic, and Full Stack web apps that I"ve written.
        </p>
      </div>
      <div class="col-md-4 example">
        <h2 class="text-center">Python Apps</h2>
        <img class="img-responsive" src="https://farm1.staticflickr.com/603/21173427319_d904e85b52_o.jpg">
        <p>
          Here are some examples of scientific, web, and other miscellaneous apps I"ve written in Python.
        </p>
      </div>
      <div class="col-md-4 example">
        <h2 class="text-center">Web Mapping Apps</h2>
        <img class="img-responsive" src="https://farm6.staticflickr.com/5791/20739220953_f6816f7691_o.jpg">
        <p>
          Here are some examples of web apps that I"ve written which have a web mapping focus.
        </p>
      </div>
    </div>
    <div id="contact">
      <h2 class="text-center">Social Media and Portfolio Accounts</h2>
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-block" id="twitter">Twitter</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-block" id="lnkin">LinkedIn</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-block" id="github">GitHub</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-block" id="cdpen">CodePen</button>
        </div>
      </div>
    </div>
    <div class="row">
      <a name="contact-info"></a>
      <div class="col-md-12">
        <h2 class="text-center">Contact Me</h2>
        <div id="map" class="center-block"></div>
      </div>
    </div>
  </body>
</html>
