<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/quote_style.css">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/javascripts/Quote_Machine/pageRequest.js"></script>
  </head>
  <body>
    <h1 class="text-center">Click below to get a random quote!</h1>
    <button class="center-block quote-button">Get Quote</button>
  </body>
</html>
