<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../tribute/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../tribute/public/stylesheets/tribute.css">
    <title>Tim Berners-Lee Tribute</title>
  </head>
  <body>
    <h1 class="text-center title">Tim Berners-Lee, Inventor of the World Wide Web Service</h1>
    <div class="main-content center-block">
      <img src="http://cdni.wired.co.uk/1240x826/a_c/03_13.jpg" width="200px" height="150px">
      <p>Sir Tim-Berners Lee, Born on June 8, 1955 is a British Computer Scientist and inventor of WWW protocol that all modern websites are contained in.
      First writing WWW on a NeXT computer while at CERN, the WWW has become a cornerstone in the advent of the digital age.</p>

      <h4>Some Notable Accomplishments by Berners-Lee</h4>
      <ul>
        <li>Created the World Wide Web in 1989</li>
        <li>Founded the World Wide Web Consortium (W3C) in October 1994</li>
        <li>Knighted by the British Royal Family in 2004</li>
        <li>Live Tweeted "This is for everyone" as part of the London Olympics in 2012</li>
      </ul>

      <p><a href="http://webfoundation.org/about/sir-tim-berners-lee/">More About Tim Berners Lee</a></p>
      <p><a href="http://searchwindevelopment.techtarget.com/definition/HTTP">Definition of the Hypertext Transfer Protocol</a></p>
    </div>
  </body>
</html>
