<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/wikiapp.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/javascripts/wikiapp.js"></script>
    <title>Wikipedia Search</title>
  </head>
  <body>
    <h1 class="text-center">Wikipedia Viewer</h1>
    <p class="text-center"><a href="http://en.wikipedia.org/wiki/Special:Random">Click Here for a Random Article</a></p>
    <form class="center-block">
      <input type="text" class="center-block">
    </form>
    <button class="center-block" id="wikisubmit">Submit</button>
    <div id="results">
    </div>
  </body>
</html>
