table {
  border: 1px solid black;
  width: 300px;
  height: 400px;
}

h1 {
  margin-top: 10% !important;
  margin-bottom: 20px !important;
  font-family: monospace !important;
}

td {
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}

#display {
  text-align: right;
  padding-right: 10px;
  background-color: #D8D8D8;
}

.num, #equals{
  background-color: #FE9A2E;
  color: #FFFFFF;
}

.oper, #percent {
  background-color: #585858;
  color: #FFFFFF;
}

.delete {
  background-color: #B40404;
  color: #FFFFFF;
}

.center-table {
  float:none;
  margin:0 auto;
}
