h1 {
    font-family: "Raleway";
    text-align: center;
}

body {
    font-family: "Open Sans";
}

#list {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    border: 1px solid lightgray;
    width: 400px;
}

ul {
    list-style-type: none;
}

a {
    color:gray;
}

a:hover {
    color:skyblue;
    text-decoration: none;
}