body {
  font-family: 'Raleway';
}

.entry {
  width: 1000px;
  height: 150px;
  border: 1px solid grey;
  padding: 10px;
}

#results {
  margin-top: 50px;
}

#wikisubmit {
  margin-top: 30px;
  border-radius: 5px;
}

body h1, div > h3 {
  font-family: 'Playfair Display';
}

input {
  border-radius: 5px;
  border: 1px solid grey;
}
